@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/JetBrainsMono-Light.ttf") format("truetype");
    src: url("/fonts/JetBrainsMono-Light.woff2") format("woff2");
}

body {
    font-family: 'JetBrains Mono', monospace;
}
